@model BLL.Command.VehiculeCommand

<partial name="_navbarAdmin" />


@if (Model != null)
{
    <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="card " style="width: 18rem; padding: 35px;">
            <div class="card-body text-center ">
                <h5 class="card-title mb-4">Etes-vous sur de vouloir supprimer @Model.marqueCommand ?</h5>
                <form asp-controller="Vehicule" asp-action="deleteVehicule" asp-route-id="@Model.idCommand" method="post">
                    <button type="submit" class="btn btn-danger m-lg-1">Oui</button>
                    <a  asp-controller="Vehicule" asp-action="Index" class="btn btn-primary m-md-1">Non</a>
                </form>
            </div>
        </div>
    </div>
}else
{
    <p>Véhicule déjà supprimé.</p>
}