@model BLL.Command.VehiculeCommand

<h2 class="mt-5">Modifier un véhicule</h2>

<form method="post" action="updateVehicule" class="mt-5">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="number" class="form-control" asp-for="idCommand" readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Lien de la photo du véhicule</label>
        <input type="text" class="form-control" asp-for="photoCommand" accept="image/*" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Marque</label>
        <input type="text" class="form-control" asp-for="marqueCommand" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Type de moteur</label>
        <input type="text" class="form-control" asp-for="typeMoteurCommand" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Prix /jour</label>
        <input type="text" class="form-control" asp-for="prixCommand" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Disponibilité</label>
        <input type="text" class="form-control" asp-for="estDispoCommand" required>
    </div>

    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    <a asp-controller="Vehicule" asp-action="Index" class="btn btn-primary m-md-1">Retour</a>

</form>