<header>
    <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-lightbg-lightgray border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto font-weight-bold" style="font-size: 2rem;" asp-area="" asp-controller="Home" asp-action="Index">Admin Home</a>
        </div>
    </nav>
</header>


