<header>
    <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-lightbg-lightgray border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto font-weight-bold" style="font-size: 2rem;" asp-area="" asp-controller="Home" asp-action="Index">Admin Home</a>
        </div>
        <div class="ml-auto">
            <form class="form-inline my-2 my-lg-0" method="post" asp-controller="Compte" asp-action="search">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="search" name="search" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</header>


