

<partial name="navbarHome" />


<style>
    .a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    h1 {
        text-align: center;
    }
</style>

<div class="a" >
    <h1>Vous n'avez pas acces a cette page.</h1>
</div>
