@using Newtonsoft.Json;

<partial name="navbarGoodSign"  />

<a asp-controller="Compte" asp-action="LogoutGet" class="btn btn-danger">Déconnexion</a>


<style>
    .a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        margin: 0;
        margin-bottom:20px;
    }

    h1 {
        text-align: center;
    }
</style>

<div class="a" >
    <h1>Vous n'avez pas acces a cette page.</h1>
</div>


