@model BLL.Command.CompteCommand

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<partial name="_navbarAdmin" />


<style>
    .input-group {
        display: flex;
    }

        .input-group input {
            flex: 1;
        }

        .input-group button {
            margin-left: 10px;
        }

</style>


<h2 class="mt-5">Ajouter un nouveau compte</h2>

<form method="post" action="addCompte" onsubmit="return validationAlert();" class="mt-5">

    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" id="username" class="form-control" oninput="inputValidation()" asp-for="usernameCommand" required>
        <div id="espaceUsername" style="color: red;"></div>
        <div id="usernameUtilise" style="color: red;"></div>

    </div>


    <div class="mb-3">
        <label class="form-label">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="password" oninput="inputValidation()" asp-for="passwordCommand" required>
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <img class="eye" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/icons8-closed-eye-50.png?alt=media&token=5a5459b3-320f-4f29-bcf6-f3356328526c" alt="eyeOpen" />
            </button>
        </div>
        <div id="passwordLongueur" style="color: red;"></div>
        <div id="espacePassword" style="color: red;"></div>
    </div>



    <div class="mb-3">
        <label class="form-label">Confirmation password</label>
        <div class="input-group">
            <input type="password" class="form-control" id="confirmPassword" oninput="inputValidation()" required>
            <button class="btn btn-outline-secondary" type="button" id="togglePasswordConfirm">
                <img class="eye" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/icons8-closed-eye-50.png?alt=media&token=5a5459b3-320f-4f29-bcf6-f3356328526c" alt="eyeOpen" />
            </button>
        </div>
    <div id="passwordMismatch" style="color: red;"></div>
    </div>





    <div class="mb-3">
        <label class="form-label">Email</label>
        <input id="mail" type="email" class="form-control" oninput="inputValidation()" asp-for="emailCommand" required>
        <div id="mailUtilise" style="color: red;"></div>
    </div>




    <div class="mb-3">
        <label class="form-label">Téléphone</label>
        <input id="telephone" type="text" class="form-control" asp-for="telephoneCommand" oninput="inputValidation()" required>
        <div id="telephoneMismatch" style="color: red;"></div>
    </div>


    <button type="submit" class="btn btn-primary">Ajouter</button>
    <a asp-controller="Compte" asp-action="Index" class="btn btn-primary m-md-1">Retour</a>

</form>

<script>
    function validationAlert() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var username = document.getElementById("username").value;
        var usernameUtilise = document.getElementById("usernameUtilise").textContent;
        var mailUtilise = document.getElementById("mailUtilise").textContent;
        var telephone = document.getElementById("telephone").value;


        if (password !== confirmPassword) {
            alert("Validation de Password invalide.");
            return false;
        } else if (password.includes(" ")) {
            alert("Password ne doit pas contenir d'espace.");
            return false;
        } else if (username.includes(" ")) {
            alert("Username ne doit pas contenir d'espace.");
            return false;
        } else if (!/^\d+$/.test(telephone) || telephone.includes(" ")) {
            alert("Le numero de téléphone doit se composer uniquement de chiffres sans espace.");
            return false;
        } else if (password.length < 6) {
            alert("Password invalide, il doit dépasser 6 caractères.");
            return false;
        } else if (usernameUtilise === "Username déjà utilisé.") {
            alert("Username déjà utilisé.");
            return false;
        } else if (mailUtilise === "Adresse mail déjà utilisée.") {
            alert("Adresse mail déjà utilisée.");
            return false;
        } else {
            return true;
        }
    }


    function inputValidation() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var telephone = document.getElementById("telephone").value;
        var mail = document.getElementById("mail").value;


        if (username.includes(" ") && username.trim() !== "") {
            document.getElementById("espaceUsername").textContent = "Username ne doit pas contenir d'espaces.";
        } else {
            document.getElementById("espaceUsername").textContent = "";
        }

        if (password.includes(" ") && password.trim() !== "") {
            document.getElementById("espacePassword").textContent = "Password ne doit pas contenir d'espaces.";
        } else {
            document.getElementById("espacePassword").textContent = "";
        }

        if (password.length < 6 && password.trim() !== "") {
            document.getElementById("passwordLongueur").textContent = "Password invalide, il doit dépasser 6 caractères.";
        } else {
            document.getElementById("passwordLongueur").textContent = "";
        }

        if (password.trim() !== "" && confirmPassword.trim() !== "" && password !== confirmPassword) {
            document.getElementById("passwordMismatch").textContent = "Les mots de passe ne correspondent pas.";
        } else {
            document.getElementById("passwordMismatch").textContent = "";
        }

        if ((!/^\d+$/.test(telephone) && telephone.trim() !== "") || (telephone.includes(" ") && telephone.trim() !== "")) {
            document.getElementById("telephoneMismatch").textContent = "Le numero de téléphone doit se composer uniquement de chiffres sans espace.";
        } else {
            document.getElementById("telephoneMismatch").textContent = "";
        }
        if (username.trim() !== "") {
            $.ajax({
                url: "/Compte/CheckUsername",
                type: "GET",
                data: { username: username },
                success: function (result) {
                    if (result === true) {
                        document.getElementById("usernameUtilise").textContent = "";
                    } else {
                        document.getElementById("usernameUtilise").textContent = "Username déjà utilisé.";
                    }
                },
                error: function (error) {
                    console.error("Erreur lors de la vérification de l'username : ", error);
                },
                async: false
            });
        }


        if (mail.trim() !== "") {
            $.ajax({
                url: "/Compte/CheckMail",
                type: "GET",
                data: { mail: mail },
                success: function (result) {
                    if (result === true) {
                        document.getElementById("mailUtilise").textContent = "";
                    } else {
                        document.getElementById("mailUtilise").textContent = "Adresse mail déjà utilisée.";
                    }
                },
                error: function (error) {
                    console.error("Erreur lors de la vérification du mail : ", error);
                },
                async: false
            });
        }

        return true;
    }

        document.getElementById("togglePassword").addEventListener("click", function () {
            var passwordInput = document.getElementById("password");
            var toggleButton = document.getElementById("togglePassword");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.innerHTML = '<img class="eye" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/icons8-eye-50.png?alt=media&token=1a528adb-1c31-44c0-abcb-6225adce0717"alt="eyeOpen" />';
            } else {
                passwordInput.type = "password";
            toggleButton.innerHTML = '<img class="eye" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/icons8-closed-eye-50.png?alt=media&token=5a5459b3-320f-4f29-bcf6-f3356328526c"alt="eyeClose" />';
        }
        });


    document.getElementById("togglePasswordConfirm").addEventListener("click", function () {
        var passwordInput = document.getElementById("confirmPassword");
        var toggleButton = document.getElementById("togglePasswordConfirm");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleButton.innerHTML = '<img class="eye" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/icons8-eye-50.png?alt=media&token=1a528adb-1c31-44c0-abcb-6225adce0717"alt="eyeOpen" />';
        } else {
            passwordInput.type = "password";
            toggleButton.innerHTML = '<img class="eye" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/icons8-closed-eye-50.png?alt=media&token=5a5459b3-320f-4f29-bcf6-f3356328526c"alt="eyeClose" />';
        }
    });



</script>