
    <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="card " style="width: 18rem; padding: 35px;">
            <div class="card-body text-center ">
                <h5 class="card-title mb-4">Username ou password invalide.</h5>
                <a asp-controller="Compte" asp-action="Login" class="btn btn-primary m-lg-1">retour</a>
            </div>
        </div>
    </div>
