@model BLL.Representation.LoginRepresentation

<partial name="navbarLogin" model="Model" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<style>

    .background-container {
        position: relative;
        text-align: center;
    }

    .backgroundImage {
        width: 70%;
        height: auto;
        margin-top: 100px;
    }

    .content {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        color: black;
        text-align: center;
    }

    .titre {
        margin-top: 90px;
        font-size: 3em;
        color: black;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        font-family: 'Dancing Script', cursive;
    }

    .mail {
        margin-top: 140px;
        font-size: 1em;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .about-text {
        font-size: 2em;
        color: black;
        font-family: 'Dancing Script', cursive;
    }
</style>


<div class="background-container">
    <img alt="backgroundImage" class="backgroundImage" src="https://firebasestorage.googleapis.com/v0/b/vehicule-32b2d.appspot.com/o/autoAbout.png?alt=media&token=d8e10c65-b02c-4b25-844e-5926c1eea920" />
    <div class="content">
        <p class="about-text">Bienvenue sur AutoLoc, votre partenaire de confiance pour la location de véhicules. Avec une flotte variée de voitures et motos, nous vous offrons des solutions de transport flexibles et adaptées à vos besoins.</p>
        <h1 class="titre">AutoLoc</h1>
        <p class="mail">autoLoc@gmail.com</p>

    </div>
</div>
