@model bool


<partial name="navbarLogin" />

@if (Model)
{
<div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="card" style="width: 18rem; padding: 35px;">
        <div class="card-body text-center">
                <h5 class="card-title mb-4">Username changé !</h5>
                <h5 class="card-title mb-4">Veuillez vous reconnecter pour que le changement soit appliqué.</h5>
                <a asp-controller="Compte" asp-action="LogoutGet" class="btn btn-primary m-lg-1">Déconnexion</a>
        </div>
    </div>
    </div>
}else
{
    <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="card" style="width: 18rem; padding: 35px;">
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Password invalide.</h5>
                <a asp-controller="Client" asp-action="Parametre"  class="btn btn-primary m-lg-1">Ok</a>
            </div>
        </div>
    </div>
}