@model BLL.Command.DemandeCommand

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<partial name="_navbarAdmin" />


<h2 class="mt-5">Modifier une demande</h2>

<form method="post" action="updateDemande" onsubmit="return validationAlert();" class="mt-5">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="number" class="form-control"  asp-for="idCommand" readonly >
    </div>
    <div class="mb-3">
        <label class="form-label">Date de début</label>
        <input id="dateDebut" type="datetime-local" class="form-control" oninput="demandeValidation()" asp-for="dateDebutCommand" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Date de fin</label>
        <input id="dateFin" type="datetime-local" class="form-control" oninput="demandeValidation()" asp-for="dateFinCommand" required>
        <div id="dateMismatch" style="color: red;"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Id du proprietaire de la commande</label>
        <input id="compteId" type="number" class="form-control" oninput="demandeValidation()" asp-for="compteIdCommand" required>
        <div id="compteIdAlert" style="color: red;"></div>

    </div>
    <div class="mb-3">
        <label class="form-label">Id du véhicule</label>
        <input id="vehiculeId" type="number" oninput="demandeValidation()" class="form-control" asp-for="vehiculeIdCommand" required>
        <div id="vehiculeIdAlert" style="color: red;"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Prix total</label>
        <input id="prix" type="number" class="form-control" oninput="demandeValidation()" asp-for="prixTotalCommand" readonly>
        <div id="prixMismatch" style="color: red;"></div>
    </div>

    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    <a asp-controller="Demande" asp-action="Index" class="btn btn-primary m-md-1">Retour</a>

</form>


<script>


    function validationAlert() {
        var compteIdAlert = document.getElementById("compteIdAlert").textContent;
        var vehiculeIdAlert = document.getElementById("vehiculeIdAlert").textContent;
        var prixMismatch = document.getElementById("prixMismatch").textContent;
        var dateMismatch = document.getElementById("dateMismatch").textContent;


        if (compteIdAlert === "Id non disponible.") {
            alert("Id du compte non disponible.");
            return false;
        } else if (vehiculeIdAlert === "Véhicule non disponible.") {
            alert("Id du véhicule non disponible.");
            return false;
        } else if (prixMismatch === "Le prix ne peut pas etre négatif.") {
            alert("Le prix ne peut pas etre négatif.");
            return false;
        } else if (dateMismatch === "Les dates sont invalides.") {
            alert("Les dates sont invalides.");
            return false;
        } else {
            return true;
        }
    }

    function demandeValidation() {
        var compteId = document.getElementById("compteId").value;
        var vehiculeId = document.getElementById("vehiculeId").value;
        var prix = document.getElementById("prix").value;
        var dateDebut = new Date(document.getElementById("dateDebut").value);
        var dateFin = new Date(document.getElementById("dateFin").value);


        if (compteId.trim() !== "") {
            $.ajax({
                url: "/Compte/CheckId",
                type: "GET",
                data: { compteId: compteId },
                success: function (result) {
                    if (result === true) {
                        document.getElementById("compteIdAlert").textContent = "";
                    } else {
                        document.getElementById("compteIdAlert").textContent = "Id non disponible.";
                    }
                },
                error: function (error) {
                    console.error("Erreur lors de la vérification de l'id : ", error);
                },
                async: false
            });
        } else {
            document.getElementById("compteIdAlert").textContent = "";
        }


        if (vehiculeId.trim() !== "") {
            $.ajax({
                url: "/Vehicule/CheckId",
                type: "GET",
                data: { vehiculeId: vehiculeId },
                success: function (result) {
                    if (result === true) {
                        document.getElementById("vehiculeIdAlert").textContent = "";
                    } else {
                        document.getElementById("vehiculeIdAlert").textContent = "Véhicule non disponible.";
                    }
                },
                error: function (error) {
                    console.error("Erreur lors de la vérification de l'id : ", error);
                },
                async: false
            });
        } else {
            document.getElementById("vehiculeIdAlert").textContent = "";
        } if (prix < 0) {
            document.getElementById("prixMismatch").textContent = "Le prix ne peut pas etre négatif.";
        } else {
            document.getElementById("prixMismatch").textContent = "";
        }
        if (dateDebut >= dateFin) {
            document.getElementById("dateMismatch").textContent = "Les dates sont invalides.";
        } else {
            document.getElementById("dateMismatch").textContent = "";
        }
        if (vehiculeId.trim() !== "" && dateDebut !== null && dateFin !== null) {
            $.ajax({
                url: "/Vehicule/getPrix",
                type: "GET",
                data: { vehiculeId: vehiculeId },
                success: function (result) {
                    if (result) {
                        var prixVehicule = result.prixRepresentation;
                        prixTotal = prixVehicule * ((dateFin - dateDebut) / (1000 * 60 * 60 * 24));
                        document.getElementById("prix").value = prixTotal;
                    }
                },
                error: function (error) {
                    console.error("Erreur  : ", error);
                },
                async: false
            });
        }
        return true;
    }

</script>