<partial name="_navbarAdmin" />

<style>
    .custom-link {
        color: #007bff; 
        text-decoration: none; 
        margin-right: 40px;
        font-size: 22px;
    }

        .custom-link:hover {
            color: #0056b3;
        }
</style>

<div class="text-center">
    <h1 class="display-4  mb-5">Bienvenue !</h1>
    <a asp-controller="Compte" asp-action="index" class="custom-link">Comptes</a>
    <a asp-controller="Vehicule" asp-action="index" class="custom-link">Véhicules</a>
    <a asp-controller="Demande" asp-action="index" class="custom-link">Demandes</a>
</div>
