@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-link {
        color: #007bff; 
        text-decoration: none; 
        margin-right: 40px;
        font-size: 22px;
    }

        .custom-link:hover {
            color: #0056b3;
        }
</style>

<div class="text-center">
    <h1 class="display-4  mb-5">Bienvenue !</h1>
    <a href="https://docs.microsoft.com/aspnet/core" class="custom-link">Comptes</a>
    <a href="https://docs.microsoft.com/aspnet/core" class="custom-link">Véhicules</a>
    <a href="https://docs.microsoft.com/aspnet/core" class="custom-link">Demandes</a>
</div>
